---

---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 48px;
    height: 48px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      max-width: 200px;
      border-radius: 20%;
  
      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }

  .author__bio {
    margin: 0;
  
    @include breakpoint($large) {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: 5px;
    }
  }

$type-size-1 : 1.953em;  // ~31.248px
$type-size-2 : 1.563em;  // ~25.008px
$type-size-3 : 1.25em;   // ~20px
$type-size-4 : 1em;      // ~16px
$type-size-5 : 0.75em;   // ~12px
$type-size-6 : 0.6875em; // ~11px
$type-size-7 : 0.625em;  // ~10px
$type-size-8 : 0.5em;  // 
