---

---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 48px;
    height: 48px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      max-width: 200px;
      border-radius: 20%;
  
      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }

  .author__bio {
    margin: 0;
  
    @include breakpoint($large) {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: 5px;
    }
  }

